@import './chat-variables';

#chat {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;
}

.avatar___sm {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

.icon-sm {
  font-size: $icon-sm-font-size;  
}

.icon-md {
  font-size: $icon-md-font-size;  
}

.scroll-style-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-style-1::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.scroll-style-1::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.6);
}

.scroll-style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.horizontal-scroll-style-1::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
}

.horizontal-scroll-style-1::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.6);
}

.horizontal-scroll-style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

// UTILS

.bg-white {
background-color: #fff;
}

.fa-2x {
font-size: 1.5em;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.pos-absolute {
position: absolute;

  &.absolute-tl {
    top: 0;
    left: 0;
  }

  &.absolute-tm {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &.absolute-middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.pos-relative {
position: relative;
}